body {
  margin: 0;
  background-color: rgb(17, 10, 16);
  color: aquamarine;
}

header {
  display: flex;
  height: 15vh;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #111111;
}

img {
  border-radius: 50%;
  height: 80%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.activeproject {
  background-color: aquamarine;
  color: #232323;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

main {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 85vh;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: inset -3px -20px 160px 13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -3px -20px 160px 13px rgba(0, 0, 0, 0.75);
  box-shadow: inset -3px -20px 160px 13px rgba(0, 0, 0, 0.75);
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  justify-content: center;
  width: 20%;
}

li {
  list-style: none;
  gap: 5px;
  align-items: center;
}

ul {
  padding: 0;
}

.project-item {
  display: flex;
  margin: 10px 0 10px 0;
  padding: 10px;
  justify-content: space-between;
}

.task-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
}

#addTaskBtn {
  margin-bottom: 30px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  background-color: #232323;
  color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
}
